openapi: 3.0.1
info:
  title: Gemini API V1
  description: "Gemini rest api version 1"
  version: 1.0.0

servers:
  - url: https://api.gemini.com/v1

paths:
  /symbols:
    get:
      summary: fetches the supported symbols
      responses:
        200:
          description: list of symbols
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/symbol"

  /pricefeed:
    get:
      summary: fetches the price feeds along with trading pairs
      responses:
        200:
          description: list of price feeds
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/priceFeed"

  /symbols/details/{symbol}:
    get:
      summary: gets the details for a trading pair
      parameters:
        - in: path
          name: symbol
          schema:
            type: string
          required: true
          description: symbol name
      responses:
        200:
          description: tradingPair details
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/tradingPair"

components:
  schemas:
    symbol:
      type: string
    priceFeed:
      additionalProperties: true
      type: object
      required:
        - pair
        - price
        - percentChange24h
      properties:
        pair:
          type: string
        price:
          type: string
        percentChange24h:
          type: string

    tradingPair:
      type: object
      additionalProperties: true
      required:
        - symbol
        - base_currency
        - quote_currency
        - tick_size
        - quote_increment
        - min_order_size
        - status
        - wrap_enabled
      properties:
        symbol:
          type: string
        base_currency:
          type: string
        quote_currency:
          type: string
        tick_size:
          type: number
          format: double
        quote_increment:
          type: number
          format: double
        min_order_size:
          type: string
        status:
          type: string
        wrap_enabled:
          type: boolean
