openapi: 3.0.1
info:
  title: Ftx API V1
  description: "Ftx Rest API"
  version: 1.0.0

servers:
  - url: https://ftx.com/api

paths:
  /markets:
    get:
      description: "This section covers all types of markets on FTX: spot, perpetual futures, expiring futures, and MOVE contracts."
      responses:
        '200':
          description: list of markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: 
                    type: boolean
                  result: 
                    type: array
                    items:
                      $ref: '#/components/schemas/market'

  /coins:
    get:
      description: "List of supported coins."
      responses:
        '200':
          description: list of markets
          content:
            application/json:
              schema:
                type: object
                properties:
                  success: 
                    type: boolean
                  result: 
                    type: array
                    items:
                      $ref: '#/components/schemas/coin'

components:
  schemas:
    coin:
      type: object
      additionalProperties: true
      properties:
        name:
          type: string
        id:
          type: string
  
    market:
      type: object
      additionalProperties: true
      required:
       - name
       - baseCurrency
       - quoteCurrency
      properties:
        name:
          type: string
        enabled: 
          type: boolean
        postOnly: 
          type: boolean
        priceIncrement:
          type: number
        sizeIncrement:
          type: number
        minProvideSize:
          type: number
        last:
          type: number
          format: double
        bid:
          type: number
          format: double      
        ask:
          type: number
          format: double      
        price:
          type: number
          format: double      
        type:
          type: string
        futureType:
          type: string
        baseCurrency:
          type: string
        isEtfMarket:
          type: boolean
        quoteCurrency:
          type: string
        underlying:
          type: string
        restricted:
          type: boolean
        highLeverageFeeExempt: 
          type: boolean
        largeOrderThreshold:
          type: number
        change1h:
          type: number
          format: double
        change24h:
          type: number
          format: double
        changeBod:
          type: number
          format: double
        quoteVolume24h:
          type: number
          format: double
        volumeUsd24h:
          type: number
          format: double
        priceHigh24h:
          type: number
          format: double
        priceLow24h:
          type: number
          format: double
